@using Atut.Helpers;

@model IEnumerable<Atut.ViewModels.VehicleViewModel>

@{
    ViewData["Title"] = "Pojazdy";
}

<div id="VehicleIndex">
    <v-client-table :data="data" :columns="columns" :options="options"></v-client-table>
</div>


@section Scripts {
    <script type="text/javascript">
        window.model = @Html.ToJson(Model);

        console.log(window.model);
    </script>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/vehicle.js"></script>
}