@using Atut.Helpers;
@using Atut.ViewModels

@model Atut.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Edycja pojazdu";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="callout callout-danger"></div>
}

@{ Html.RenderPartial("VehicleModelEditor"); }

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
