@{
//    ViewData["Title"] = "Strona główna";
//    ViewData["Description"] = "Dodatkowy opis";
}

@model int

@Model

<div id="test">
    {{message}}
</div>

@section Scripts {
    <script src="~/js/vendor.js"></script>
    <script src="~/js/home.js"></script>
}