@{
//    ViewData["Title"] = "Strona główna";
//    ViewData["Description"] = "Dodatkowy opis";
}

@model int

@Model

<div id="test">
    {{message}}

    <v-client-table :data="tableData" :columns="columns" :options="options"></v-client-table>
</div>

@section Scripts {
    <script src="~/js/vendor.js"></script>
    <script src="~/js/home.js"></script>
}