@using Atut.Helpers;
@using Atut.Services

@model IEnumerable<Atut.ViewModels.JourneyViewModel>
@inject RoleService RoleService;

@{
    ViewData["Title"] = "Trasy";
}

<div id="JourneyIndex">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bordered Table</h3>
                    </div>
                    <div class="box-body">
                        <v-client-table :data="data" :columns="columns" :options="options">
                            <template slot="vehiclesColumn" scope="props">
                                {{ props.row.vehicles.map(v => v.value).join(", ") }}
                            </template>
                            <template slot="actions" scope="props">
                                <div>
                                    <a :href="'/Journey/Edit/'+ props.row.id" class="btn btn-primary">Edytuj</a>
                                    <a :href="'/Journey/Delete/'+ props.row.id" class="btn btn-danger">Usuń</a>
                                </div>
                            </template>
                        </v-client-table>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="column">
            <select v-model="filterCompany">
                <option>-- Wybierz firmę -- </option>
                <option value="1">Firma1</option>
            </select>
        </div>
        <div class="column">
            <datepicker v-model="filterFromDate" ref="endDate" language="pl"></datepicker>
        </div>
        <div class="column">
            <datepicker v-model="filterToDate" ref="endDate" language="pl"></datepicker>
        </div>
        <div class="column">
            <select v-model="filterCountry">
                <option>-- Wybierz kraj -- </option>
                <option value="PL">Polska</option>
            </select>
        </div>
    </div>
</div>

@section Buttons
{
    <a href="@Url.Action("Create")" class="btn btn-success">Dodaj</a>
}

@section Scripts {
    <script type="text/javascript">
        window.model = @Html.ToJson(Model);
        window.model.isAdmin = @RoleService.IsAdmin.ToString().ToLower();
    </script>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/journeyIndex.js"></script>
}