@using Atut.Helpers;
@using Atut.ViewModels

@model Atut.ViewModels.JourneyViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="callout callout-danger"></div>
}

<form ref="form" class="form-horizontal" method="post" role="form" id="JourneyEdit" v-on:submit.prevent="validateBeforeSubmit">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dane ogólne</h3>
        </div>
        <div class="box-body">
            <div class="callout callout-info">
                <ul>
                    <li>+ Podatek VAT w prawodawstwie UE należy do najbardziej restrykcyjnych podatków, a nieprawidłowości, bałagan w rozliczeniach, unikanie płatności VAT podlega ściąganiu nawet do 10 lat Niemcy i Chorwacja czy 8 lat Austria przy skorzystaniu z pomocy prawnej polskich Urzędów Skarbowych.</li>
                    <li>+ Przed wypełnianiem formularza przygotuj faktury, karty drogowe, wydruki z tachografu, Książkę formularzy podróży, gdzie są dane o granicach, kilometrach operacji transportowej, ilości pasażerów, kwocie i dacie faktury.</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="StartingPlace" class="col-sm-2 control-label">Miejscowość wsiadania</label>

                <div class="col-sm-10">
                    <input id="StartingPlace" v-model="startingPlace" name="StartingPlace" data-vv-as="Miejscowość wsiadania" data-vv-name="startingPlace" v-validate="'required'" type="text" class="form-control" placeholder="Miejscowość wsiadania">
                    <span v-show="errors.has('startingPlace')" class="text-danger">{{ errors.first('startingPlace') }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="ThroughPlace" class="col-sm-2 control-label">Miejscowość pośrednia</label>

                <div class="col-sm-10">
                    <input id="ThroughPlace" v-model="throughPlace" name="ThroughPlace" data-vv-as="Miejscowość pośrednia" data-vv-name="throughPlace" type="text" class="form-control" placeholder="Miejscowość pośrednia">
                    <span v-show="errors.has('throughPlace')" class="text-danger">{{ errors.first('throughPlace') }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="FinalPlace" class="col-sm-2 control-label">Miejscowość docelowa + kraj</label>

                <div class="col-sm-10">
                    <input id="FinalPlace" v-model="finalPlace" name="FinalPlace" data-vv-as="Miejscowość docelowa + kraj" data-vv-name="finalPlace" v-validate="'required'" type="text" class="form-control" placeholder="Miejscowość docelowa + kraj">
                    <span v-show="errors.has('finalPlace')" class="text-danger">{{ errors.first('finalPlace') }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="AmountOfPeople" class="col-sm-2 control-label">Ilość osób</label>

                <div class="col-sm-10">
                    <input id="AmountOfPeople" v-model="amountOfPeople" name="AmountOfPeople" data-vv-as="Ilość osób" data-vv-name="amountOfPeople" v-validate="'required|min_value:1'" type="number" class="form-control">
                    <span v-show="errors.has('amountOfPeople')" class="text-danger">{{ errors.first('amountOfPeople') }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="StartDate" class="col-sm-2 control-label">Data wyjazdu</label>

                <div class="col-sm-10">
                    <datepicker v-validate="'required'" data-vv-value-path="formattedValue" v-model="startDate" data-vv-as="Data wyjazdu" data-vv-name="startDate" ref="startDate" language="pl"></datepicker>
                    <input type="hidden" name="StartDate" :value="startDateDisplayModel"/>
                    <span v-show="errors.has('startDate')" class="text-danger">{{ errors.first('startDate') }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="EndDate" class="col-sm-2 control-label">Data powrotu</label>

                <div class="col-sm-10">
                    <datepicker v-validate="'required'" data-vv-value-path="formattedValue" v-model="endDate" data-vv-as="Data powrotu" data-vv-name="endDate" ref="endDate" language="pl"></datepicker>
                    <input type="hidden" name="EndDate" :value="endDateDisplayModel"/>
                    <span v-show="errors.has('endDate')" class="text-danger">{{ errors.first('endDate') }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Faktury</h3>
        </div>
        <div class="box-body">
            <div class="callout callout-info">
                <ul>
                    <li>+ Podawaj tylko kwotę brutto faktury -całkowitą- swojej faktury lub paragonu. Jazdy sponsorowane w transporcie międzynarodowym są niedozwolone.</li>
                    <li>+ Jeżeli masz 2 faktury/ paragony, faktury zaliczkowe, faktury korygujące, podaj ich końcowa kwotę wraz z datą wystawienia uważając, aby nie obciążać się w wyższej kwocie niż to wynika z wpłat.</li>
                    <li>+ Zachowaj faktury/ paragony  sprzedaży oraz kosztów do kontroli przez 10 lat.</li>
                    <li>+ Scany rachunków/ faktur/paragonów  kosztowych sprawdź i wyślij  mailem na adres: biuro@atut.com.pl  z dopiskiem jakiego kraju i okresu rozliczeniowego mają dotyczyć. Każdy paragon ponumeruj, umieść na stronie A4 tak, aby nie było pustych miejsc.</li>
                </ul>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <invoices-editor :items="invoices"></invoices-editor>
                    <div v-for="(invoice, index) in invoices">
                        <input type="hidden" :name="'Invoices[' + index + '].Date'" :value="momentYyyyMmDd(invoice.date)" />
                        <input type="hidden" :name="'Invoices[' + index + '].Type'" :value="invoice.type" />
                        <input type="hidden" :name="'Invoices[' + index + '].Amount'" :value="invoice.amount.toString().replace('.', ',')" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Trasa przejazdu</h3>
        </div>
        <div class="box-body">
            <div class="callout callout-info">
                <ul>
                    <li>+ Jeżeli zaniżysz ilości kilometrów ogółem, nieprawidłowo policzysz kilometry,  to może zwiększyć się udział podatku VAT w kraju, w którym się rozliczasz.</li>
                </ul>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <countries-editor :items="countries"></countries-editor>
                    <div v-for="(country, index) in countries">
                        <input type="hidden" :name="'Countries[' + index + '].Name'" :value="country.name" />
                        <input type="hidden" :name="'Countries[' + index + '].Distance'" :value="country.distance" />
                    </div>
                </div>
            </div>

            <div class="box-footer">
            </div>

            <div class="form-group">
                <label for="TotalDistance" class="col-sm-2 control-label">Trasa ogółem [km] </label>

                <div class="col-sm-10">
                    <input id="TotalDistance" v-model="totalDistance" name="TotalDistance" data-vv-as="Trasa ogółem" data-vv-name="totalDistance" v-validate="'required|min_value:1'" type="number" class="form-control">
                    <span v-show="errors.has('totalDistance')" class="text-danger">{{ errors.first('totalDistance') }}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="OtherCountriesTotalDistance" class="col-sm-2 control-label">Inne kraje [km]</label>

                <div class="col-sm-10">
                    <p class="form-control-static">{{ otherCountriesTotalDistance }}</p>
                    <input type="hidden" name="OtherCountriesTotalDistance" :value="otherCountriesTotalDistance" />
                </div>
            </div>

            <div class="box-footer">
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Pojazdy</label>

                <div class="col-sm-10">
                    <multiselect v-model="vehicles" label="value" track-by="key" :options="availableVehicles" :multiple="true">
                    </multiselect>
                    <div v-for="(vehicle, index) in vehicles">
                        <input type="hidden" :name="'Vehicles[' + index + '].Key'" :value="vehicle.key" />
                        <input type="hidden" :name="'Vehicles[' + index + '].Value'" :value="vehicle.value" />
                    </div>
                </div>
            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer">
            <a href="@Url.Action("Index")" class="btn btn-default">Anuluj</a>
            <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
        </div>
        <!-- /.box-footer -->
    </div>
</form>

<script type="text/x-template" id="countries-editor-template">
    <div>
        <v-client-table :data="items" :columns="columns" :options="options">
            <template slot="actions" scope="props">
                <div>
                    <a v-on:click="remove(props.row.name)" class="btn btn-danger">Usuń</a>
                </div>
            </template>
        </v-client-table>

        <div class="form-group">
            <label class="col-sm-2 control-label">Nazwa kraju</label>

            <div class="col-sm-10">
                <select v-model="nameToAdd" class="form-control">
                    <option v-for="country in availableCountryNames">{{ country }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Dystans [km]</label>

            <div class="col-sm-10">
                <input v-model="distanceToAdd" type="number" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <button type="button" class="btn btn-success" v-on:click="add">Dodaj nowy kraj</button>
                <span v-show="showError" class="text-danger">Uzupełnij poprawnie Kraj oraz Dystans</span>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="invoices-editor-template">
    <div>
        <v-client-table :data="items" :columns="columns" :options="options">
            <template slot="dateColumn" scope="props">
                {{ moment(props.row.date) }}
            </template>
            <template slot="actions" scope="props">
                <div>
                    <a v-on:click="remove(props.index)" class="btn btn-danger">Usuń</a>
                </div>
            </template>
        </v-client-table>

        <div class="form-group">
            <label class="col-sm-2 control-label">Data wystawienia faktury</label>

            <div class="col-sm-10">
                <datepicker v-model="dateToAdd" language="pl"></datepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Waluta</label>

            <div class="col-sm-10">
                <select v-model="typeToAdd" class="form-control">
                    <option>PLN</option>
                    <option>Euro</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Kwota faktury</label>

            <div class="col-sm-10">
                <input v-model="amountToAdd" min="0" step="0.01" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <button type="button" class="btn btn-success" v-on:click="add">Dodaj nową fakturę</button>
                <span v-show="showError" class="text-danger">Uzupełnij poprawnie Datę wystawienia, Walutę oraz Kwotę faktury</span>
            </div>
        </div>
    </div>
</script>