.VueTables__search, .VueTables__limit, .VuePagination__count {
    display: none;
}

.VueTables__sort-icon {
    float: inherit !important;
    margin-left: 10px;
}

.VueTables__sortable {
    cursor: pointer;
}

.VueTables__table {
    background-color: rgb(60,141,188);
}

.VueTables__table th {
    color: white
}

.VueTables__table td {
    background-color: rgb(245,245,245)
}

.callout.callout-danger > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.callout.callout-info > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.callout.callout-warning > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


input[readonly] {
    background-color: white !important;
}

.wrapper {
    margin-left: 7%;
    margin-right: 7%;
}
body {
    width: 100%;
    background: url("/images/Gradient-blue.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}