.VueTables__search, .VueTables__limit, .VuePagination__count {
    display: none;
}

.VueTables__sort-icon {
    float: inherit !important;
    margin-left: 10px;
}

.VueTables__sortable {
    cursor: pointer;
}

.callout.callout-danger > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.callout.callout-info > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.callout.callout-warning > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}